*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    background-color: black;
}

.navbar{
    background-color: black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute !important;
    z-index: 2;
    top: 56px;
    right: 0;
    left: 0;
}

#textbox{
    height: 100vh;
    object-fit: cover;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 100%, rgba(0,0,0,0.7) 100%),url(img/bussiness-meeting.jpeg);
    background-size: cover;
    background-position: center center;
    align-items: center;
    place-items: center;
    position: relative;
    z-index: 0;
}

#textbox .innerbox{
    padding: 1vh 3vw;
    top: 56px;
}

#li4{
    background-color: #D9FF00;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}

#textbox .work-btn, #make-brand .work-btn{
    top: 3rem;
    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    box-shadow: 4px 10px 5px #D9FF00;
    border-color: #D9FF00;
    text-decoration: none;
    font-weight: bold;
    color: black; 
    border: 2px solid #D9FF00;
}
#footer-detail .work-btn2{
    top: 3rem;
    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    box-shadow: 4px 10px 5px #D9FF00,
                4px 10px 10px black;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 2px solid #D9FF00;
}

#project-section-img-btn .project-btn{
    border-color: #D9FF00;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold; 
    color: black;
    border: 4px solid #D9FF00;
}

#project-section-img{
    border-radius: 30px;
}

#brand-img1, #brand-img2, #brand-img3, #brand-img4{
    border: 2px solid white;
    border-radius: 40px;
}

#make-brand{
    color: white;
    text-align: center;
}

#footer-detail, #footer{
    background-color: #D9FF00;
}


#footer, #footer-pages a, #link-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-pages a{
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 220px;
    text-decoration: none;
    color: black;
}


#link-box p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

#footer-about {
font-weight: 300;
font-size: 22px;
line-height: 120%;
text-align: center;
}

#footer-about .footer-about-name{
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
}

